<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>PAW TECH | About Us</title>
<!-- Stylesheets -->
<link href="static/css/bootstrap.css" rel="stylesheet">
<link href="static/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
<link href="static/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
<link href="static/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
<link href="static/css/style.css" rel="stylesheet">
<link href="static/css/responsive.css" rel="stylesheet">


<!--Favicon-->
<link rel="shortcut icon" href="static/images/favicon.png" type="image/x-icon">
<link rel="icon" href="static/images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
 
 	
        <!-- Preloader -->
        <div class="preloader"></div>
         
        <!-- Main Header-->
        <header class="main-header header-style-five">
    <div class="header-upper">
        <div class="auto-container clearfix">
                
            <div class="pull-left logo-outer">
                <div class="logo"><a href="/home"><img src="static/images/logo1.png" width="150" height="70"  alt="" title=""></a></div>
            </div>
            
            <div class="pull-right upper-right clearfix">
                
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="/home">Home</a>
                                   
                                </li>
                                <li class="dropdown"><a href="/about">About us</a>
                                </li>
                                        <li class="dropdown"><a href="/gallery">Gallery</a>
                                        </li>
                                <li><a href="/contact">Contact Us</a></li>

                                <li class="dropdown"><a href="/user">Login</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    
                    <!-- Main Menu End-->
                    <div class="outer-box">
                        <!--Search Box-->
                       <!--<div class="search-box-outer">
                            <div class="dropdown">
                                <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                    <li class="panel-outer">
                                        <div class="form-container">
                                            <form method="post" action="blog.html">
                                                <div class="form-group">
                                                    <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                    <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>-->
                        <div class="btn-box"><a href="/donation" class="theme-btn btn-style-one">Donate now</a></div>
                    </div>
                </div>
                
            </div>
                
        </div>
    </div>
    <!--End Header Upper-->
    
    <!--Mobile Menu-->
    <div class="mobile-menu">
        <div class="auto-container">
            <div class="nav-header clearfix">
                <div class="text">Menu</div>
                <div class="menu-btn"><span class="fa fa-bars"></span></div>
            </div>
            <div class="links-outer">
                <div class="links-box">
                    <ul class="navigation">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="sticky-inner-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="/home" class="img-responsive"><img src="static/images/logo1.png" width="170" height="70" alt="" title=""></a>
            </div>
            
            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->    	
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current dropdown"><a href="/home">Home</a>
                            </li>
                            <li class="dropdown"><a href="/about">About us</a>
                            </li>
                            <li class="dropdown"><a href="/gallery">Gallery</a>
                            </li>
                    <li><a href="/contact">Contact Us</a></li>

                    <li class="dropdown"><a href="/user">Login</a>
                    </li>
                </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->
                
                <!-- Main Menu End-->
                <div class="outer-box">
                    <!--Search Box-->
                    <!--div class="search-box-outer">
                        <div class="dropdown">
                            <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                            <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu4">
                                <li class="panel-outer">
                                    <div class="form-container">
                                        <form method="post" action="blog.html">
                                            <div class="form-group">
                                                <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>-->
                    <div class="btn-box"><a href="/donation" class="theme-btn btn-style-one">Donate now</a></div>
                </div>
                
            </div>
            
        </div>
    </div>
    <!--End Sticky Header-->

</header>
<!--End Main Header -->
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/hug.jpg)">
    	<div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>About Us</h2>
                </div>
                <div class="pull-right">
                    
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Mission Section Two-->
    <section class="mission-section-two">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Column-->
                <div class="content-column col-md-8 col-xs-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="sec-title-two">
                        	<h2>Our Mission</h2>
                        </div>
                        <div class="text">
                        	<p>Making a proper network platform to book the petsitters by just one click. As well as giving information about the rescue shelters in the areas. This system also helps to find homeless puppies a home and people can adopt them by contacting the particular shelters of person.</p>
                            <p>This system is to help those who find themselves in this situation. Paw Tech will give information of most of the active sheltersn like : Shree’s Animal Rescue Nepal, KAT Centre, Together for paws, Sneha’s Care, Animal Nepal, HART, Soltis’ Hope Street Animal Rescue, I Care You, Street Dog Care, Community Dog Welfare Kopan and so on.</p>
                        </div>
                    </div>
                </div>
                
                <!--Image Column-->
                <div class="image-column col-md-4 col-xs-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="image">
                        	<img src="static/images/resource/abt.jpg" alt="" />
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Mission Section Two-->
    
    <!--Fluid Section One-->
  
    <!--End Fluid Section One-->
    
    <!--Featured Section-->
    <section class="featured-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            
            	<!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<div class="image">
                    	<img src="static/images/resource/ab2.jpg" alt="" />
                    </div>
                </div>
                
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="sec-title-two">
                        	<h2>What We Offer</h2>
                        </div>
                        
                        
                        <!--Featured Block-->
                        <div class="featured-block">
                        	<div class="featured-inner">
                            	<div class="icon-box">
                                	<span><img src="static/images/T.png" width="85" height="75"  alt="" title=""></span>
                                </div>
                                <h3>Travel in comfort</h3>
                                <div class="text">Enjoy your holiday with added peace of mind knowing your pets are well looked after.</div>
                                
                            </div>
                        </div>
                        
                        <!--Featured Block-->
                        <div class="featured-block">
                        	<div class="featured-inner">
                            	<div class="icon-box">
                                	<span><img src="static/images/H.png" width="85" height="75"  alt="" title=""></span>
                                </div>
                                <h3>Safe and happy pets</h3>
                        <div class="text">From dog walks to belly rubs, sitters keep your pets happy in the one place they feel truely relaxed like their own home.</div>
                            </div>
                        </div>
                        
                        <!--Featured Block-->
                        <div class="featured-block">
                        	<div class="featured-inner">
                            	<div class="icon-box">
                                	<span><img src="static/images/W.png" width="85" height="75"  alt="" title=""></span>
                                </div>
                                <h3>A win-win for everyone</h3>
                        <div class="text">With a community of sitters looking to stay with pets like yours, there's no need to ask friends or family for help.</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Featured Section-->
    
    <!--Default Section-->
  
                    <!--Team Block-->
                  
                    <!--Team Block-->
                 
                    
                    <!--Team Block-->
            
            
            <!--Counter Section-->
           
    <!--End Default Section-->
    
    <!--Testimonial Section-->
   
    <!--End Testimonial Section-->
    
    <!--Clients Section / Style Two-->
  
   <!--Main Footer-->
   <footer class="main-footer">
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                
                <!--big column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                    
                        <!--Footer Column-->
                        <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                            <div class="footer-widget logo-widget">
                                <div class="logo">
                                    <a href="/home"><img src="static/images/footer-logo.png"  width="200" height="100" alt="" /></a>
                                </div>
                                <div class="text">"Every human should not buy a dog but rescue in need and free him from sufferings and give him love, care and shelter."</div>
                            </div>
                        </div>
                        
                        <!--Footer Column-->
                        <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <h2>Services</h2>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="/adoption">Adoption</a></li>
                                        <li><a href="/petsitting">Pet Sitting</a></li>
                                        <li><a href="/rescue">Rescue Shelters</a></li>
                                        <li><a href="/donation">Donation</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--big column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                    
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <h2>Quick links</h2>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="/home">Home</a></li>
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/user">Login</a></li>
                                        <li><a href="/donation">Donate Now</a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget info-widget">
                                <h2>Get in Touch</h2>
                                <div class="widget-content">
                                    <div class="number">123456789</div>
                                    <div class="text">info@pawtech.com</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        <!--Footer Bottom-->
        <div class="footer-bottom clearfix">
            <div class="pull-left">
                <div class="copyright">&copy; Copyright  Paw Tech 2022. All right reserved.</div>
            </div>
            <div class="pull-right">
                <div class="created">Created by Paw Tech Team</div>
            </div>
        </div>
        
    </div>
    
</footer>
<!--End Main Footer-->

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

<script src="static/js/jquery.js"></script> 
<!--Revolution Slider-->
<script src="static/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="static/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="static/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="static/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="static/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="static/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="static/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="static/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="static/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="static/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="static/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="static/js/main-slider-script.js"></script>

<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery.fancybox.js"></script>
<script src="static/js/jquery-ui.js"></script>
<script src="static/js/owl.js"></script>
<script src="static/js/appear.js"></script>
<script src="static/js/wow.js"></script>
<script src="static/js/script.js"></script>

<!--Google Map APi Key-->
<script src="http://maps.google.com/maps/api/js?key=AIzaSyBKS14AnP3HCIVlUpPKtGp7CbYuMtcXE2o"></script>
<script src="js/map-script.js"></script>
<!--End Google Map APi-->

</body>
</html>