<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SELECT PET SITTER</title>
<!-- Stylesheets -->
<link href="static/css/bootstrap.css" rel="stylesheet">
<link href="static/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
<link href="static/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
<link href="static/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
<link href="static/css/style.css" rel="stylesheet">
<link href="static/css/responsive.css" rel="stylesheet">


<!--Favicon-->
<link rel="shortcut icon" href="static/images/favicon.png" type="image/x-icon">
<link rel="icon" href="static/images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
 
 	
        <!-- Preloader -->
        <div class="preloader"></div>
         
        <!-- Main Header-->
        <header class="main-header header-style-five">
    <div class="header-upper">
        <div class="auto-container clearfix">
                
            <div class="pull-left logo-outer">
                <div class="logo"><a href="/index"><img src="static/images/logo1.png" width="150" height="70"  alt="" title=""></a></div>
            </div>
            
            <div class="pull-right upper-right clearfix">
                
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="/home">Home</a>
                                   
                                </li>
                                <li class="dropdown"><a href="/about">About us</a>
                                </li>
                                        <li class="dropdown"><a href="/gallery">Gallery</a>
                                        </li>
                                <li><a href="/contact">Contact Us</a></li>

                                <li class="dropdown"><a href="/userlogin">Logout</a>
                                    
                                </li>
                            </ul>
                        </div>
                    </nav>
                    
                    <!-- Main Menu End-->
                    <div class="outer-box">
                        <!--Search Box-->
                       <!--<div class="search-box-outer">
                            <div class="dropdown">
                                <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                    <li class="panel-outer">
                                        <div class="form-container">
                                            <form method="post" action="blog.html">
                                                <div class="form-group">
                                                    <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                    <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>-->
                        
                    </div>
                </div>
                
            </div>
                
        </div>
    </div>
    <!--End Header Upper-->
    
    <!--Mobile Menu-->
    <div class="mobile-menu">
        <div class="auto-container">
            <div class="nav-header clearfix">
                <div class="text">Menu</div>
                <div class="menu-btn"><span class="fa fa-bars"></span></div>
            </div>
            <div class="links-outer">
                <div class="links-box">
                    <ul class="navigation">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="sticky-inner-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="/home" class="img-responsive"><img src="static/images/logo1.png" width="170" height="70" alt="" title=""></a>
            </div>
            
            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->    	
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current dropdown"><a href="/home">Home</a>
                            </li>
                            <li class="dropdown"><a href="/about">About us</a>
                            </li>
                            <li class="dropdown"><a href="/gallery">Gallery</a>
                            </li>
                    <li><a href="/contact">Contact Us</a></li>

                    <li class="dropdown"><a href="/userlogin">Logout</a>
                       
                    </li>
                </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->
                
                <!-- Main Menu End-->
                <div class="outer-box">
                    <!--Search Box-->
                    <!--div class="search-box-outer">
                        <div class="dropdown">
                            <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                            <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu4">
                                <li class="panel-outer">
                                    <div class="form-container">
                                        <form method="post" action="blog.html">
                                            <div class="form-group">
                                                <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>-->
                  
                </div>
                
            </div>
            
        </div>
    </div>
    <!--End Sticky Header-->

</header>
<!--End Main Header -->
    <!--Page Title-->
   
    <!--End Page Title-->
    
    <!--Projects Section-->
    <section class="project-section style-two">
    	<div class="auto-container">
        	
            <!--MixitUp Galery-->
            <div class="mixitup-gallery">
                <!--Filter-->
                <div class="inner-container">
                    <h2><span>Enter Details for Pet Sitting</span></h2>
                    <hr>

                <div class="filter-list row clearfix">
                
                    <!-- Form -->
                    <form method="post" action="/petsittingconfirm" enctype="multipart/form-data">{% csrf_token %}
                        <div class="form-group">
                         Owner Name:   <input type="text" name="name"  placeholder="Enter your full name" id="name" class="form-control" />
                        </div>
                        <div class="form-group">
                         Address:   <input type="text" name="address" placeholder="Enter your address" id="address" class="form-control" />
                        </div>
                         <div class="form-group">
                        Contact Number:  <input type="number" name="contact" value="Contact Number" placeholder="Enter your contact number" id="contact" class="form-control" />
                         </div>
                         <div class="form-group">
                         Email ID:   <input type="text" name="email"  placeholder="Enter your email address" id="email" class="form-control" />
                         </div>
                         <div class="form-group">
                            Pet's Name:   <input type="text" name="petname"  placeholder="Enter your pet's name" id="petname" class="form-control" />
                           </div>
                           {% comment %} <div class="form-group">
                            Pet Photo:    <input type="file" name="petphoto"  placeholder="Upload your pet's photo" id="petphoto" class="form-control" />
                            </div> {% endcomment %}
                           <div class="form-group">
                            Pet's Age:   <input type="number" name="petage"  placeholder="Enter your pet's age" id="petage" class="form-control" />
                           </div>

                           <div class="form-group">
                            Pet's Breed:   <input type="text" name="petbreed"  placeholder="Enter your pet's breed" id="petbreed" class="form-control" />
                           </div>
                         <div class="form-group">
                         Pet's Description   <input type="text" name="petdescription"  placeholder="Something about your pet" id="petdescription" class="form-control" />
                         </div>
                         <div class="form-group">
                            Pet Food:   <input type="text" name="petfood"  placeholder="Foods you feed your doggie" id="petfood" class="form-control" />
                           </div>

                           <div class="form-group">
                            Reason:   <input type="text" name="petsittingreason"  placeholder="State reason for petsitting" id="petsittingreason" class="form-control" />
                           </div>
                        
                        <input type="submit" value="Confirm" class="btn btn-primary btn-block " onclick="adoptConfirm.html" />
                        
                        
                       
                    </form>
                    <!-- End Form-->


                   

                </div>
            </div>
            
        </div>
    </section>
    <!--End Projects Section-->
    
    <!--Main Footer-->
    <footer class="main-footer">
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="/home"><img src="static/images/footer-logo.png" width="200" height="100" alt="" /></a>
                                    </div>
                                    <div class="text">"Every human should not buy a dog but rescue in need and free him from sufferings and give him love, care and shelter."</div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                	<h2>Services</h2>
                                    <div class="widget-content">
										<ul class="list">
                                        	<li><a href="/adoption">Adoption</a></li>
                                            <li><a href="/petsitting">Pet Sitting</a></li>
                                            <li><a href="/rescue">Rescue Shelters</a></li>
                                            <li><a href="/donation">Donation</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                	<h2>Quick links</h2>
                                    <div class="widget-content">
										<ul class="list">
                                        	<li><a href="/home">Home</a></li>
                                            <li><a href="/about">About Us</a></li>
                                            <li><a href="/userlogin">Login</a></li>
                                            <li><a href="/donation">Donate Now</a></li>
                                            <li><a href="/contact">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget info-widget">
                                	<h2>Get in Touch</h2>
                                    <div class="widget-content">
                                    	<div class="number">9840260708</div>
                                        <div class="text">info@pawtech.com</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
            
            <!--Footer Bottom-->
            <div class="footer-bottom clearfix">
                <div class="pull-left">
                    <div class="copyright">&copy; Copyright  Paw Tech 2022. All right reserved.</div>
                </div>
                <div class="pull-right">
                    <div class="created">Created by Paw Tech Team</div>
                </div>
            </div>
            
        </div>
        
    </footer>
    <!--End Main Footer-->
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery.fancybox.js"></script>
<script src="static/js/jquery-ui.js"></script>
<script src="static/js/owl.js"></script>
<script src="static/js/appear.js"></script>
<script src="static/js/wow.js"></script>
<script src="static/js/mixitup.js"></script>
<script src="static/js/script.js"></script>

</body>
</html>